*
	background: none
	margin: 0
	padding: 0
	border: none
	outline: none
	font-family: inherit
	line-height: inherit
	font-weight: inherit
	font-size: inherit
	color: inherit
	text-align: center
	list-style: none
	
body 
	overflow-y: hidden
	overflow-x: auto
	background: black
	color: white
	text-align: center
	
canvas 
	position: absolute
	top: 0
	left: 0
	z-index: -2
	
#label
	visibility: hidden
	position: fixed
	background: lightslategrey
	padding: 0.2rem
	pointer-events: none
	color: darkslategrey
	border-radius: 5%
	border: solid darkslategrey 0.25rem
	text-align: center

#title
	font-weight: 600
	
#flavour
	font-style: italic
	
#bubbleContainer
	font-family: monospace
	visibility: hidden
	position: absolute
	pointer-events: none
	width: 100%
	#bubble
		position: absolute
		padding: 0.25rem
		bottom: 50%
		left: 0
		border-radius: 25%
		border: solid grey 0.25rem
		font-weight: 100
		font-style: italic
		background: white
		color: grey
		max-width: 10rem
		max-height: 5rem
	
#win-state, #lose-state
	display: none
	.big
		font-size: 200px
		
#instructions
	margin-top: 256px
	
ul
	li:before
		content: "• "