html
	head
		script(src ="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.js")
		script(src ="https://cdnjs.cloudflare.com/ajax/libs/keydrown/1.2.1/keydrown.js")
		title baconfish global games jam
	body
		#label Label
